.swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #101010 !important;
}

.custom-swiper-pagination {
  position: static !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

html {
  scroll-behavior: smooth;
}
